.jumbotron {
  background-color: white;
}
.top-container {
}
.middle-container {
  background-color: blue;
  height: 100vh;
}
.middle-container h2 {
  text-align: center;
}
.bottom-container {
  background-color: black;
  height: 40vh;
}
.bottom-container h2 {
  text-align: center;
  color: white;
  text-decoration: underline;
}
.sponsorImg {
  height: 15vh;
  height: 15vh;
}
.col-md-3 {
  justify-content: center;
  align-items: center;
}
.row {
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
